.blog {
    .blog-list {
        list-style: none;
        list-style-type: none;
        border: none;
        box-shadow: none;
        margin: auto;

        li {
            display: inline-block;
            border: none;
            margin: 0;
            width: 400px;

            .media-content {
                .subtitle {
                    margin-top: -0.4rem;
                }
            }
        }
    }
}

.blog-post {
    .blog-post-header {
        margin-bottom: 2em;

        hr {
            width: 50%;
        }
    }
}