.blog {
    .blog-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        list-style-type: none;
        border: none;
        box-shadow: none;
        margin: auto;

        li {
            display: inline-block;
            border: none;
            margin: 0;
            flex: 0 1 calc(25% - 1em);

            .media-content {
                .subtitle {
                    margin-top: -0.4rem;
                }
            }
        }

        @media screen and (min-width: 320px) {
            li {
                flex: 0 1 100%;
            }
        }

        @media screen and (min-width: 768px) {
            li {
                flex: 0 1 calc(50% - 1em);
            }
        }

        @media screen and (min-width: 1200px) {
            li {
                flex: 0 1 calc(25% - 1em);
            }
        }
    }
}

.blog-post {
    .blog-post-header {
        margin-bottom: 2em;

        hr {
            width: 50%;
        }
    }
}