/* Ferret Theme for Hugo */

/* Base */

html {
    line-height: 1.15;
}

body {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

a:hover { text-decoration: underline; }

/* Navigation */

.navbar {
    background-color: $darkpurple;
    font-size: 1.1em;
    position: fixed;
    top: 0; left: 0; right: 0;
}
html { margin-top: 63px; }
.sticky-nav {
    position: sticky;
    top: 63px;
    height: 60vh;
    border-left: 1px dotted $primary;
}

.navbar-link,
a.navbar-item {
    color: #fff;
    padding-bottom: 1em;
    padding-top: 1em;
}

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.navbar-burger {
    color: #fff;
    height: 3.95rem;
    &:hover {
        color: #fff;
    }
}

.navbar-menu.is-active a {
    color: $primary;
    text-align: center;
}

/* Hero */

.hero.is-primary {
    background-color: $lightpurple;
}

.hero.is-primary .title,
.hero.is-primary .subtitle {
    color: $darkpurple;
}

.hero.is-primary .title {
    font-size: 3.5em;
}

.homepage-hero {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.logo-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    text-transform: lowercase;
    background-color: #fff;
    display: inline-block;
    padding: 2px 10px;
    color: $darkpurple;
    font-weight: 600;
}