.code-editor {
    position: relative;

    .button {
        position: absolute;
        z-index: 1;
        right: 1em;
        width: 80px;
    }

    button.run {
        top: 2em;
    }

    button.share {
        top: 6em;
    }
}