
 $keyword: #ff3860;

 .hljs {
    display: block;
    overflow-x: auto;
    /* Custom font is optional */
    /* font-family: 'Operator Mono', 'Fira Code', 'Menlo', 'Monaco', 'Courier New', 'monospace';  */
    line-height: 1.45;
    padding: 2rem;
    background: #2d2b57;
    font-weight: normal;
  }
  
  .hljs-title {
    color: #fad000;
    font-weight: normal;
  }
  
  .hljs-name {
    color: #a1feff;
  }
  
  .hljs-tag {
    color: #ffffff;
  }
  
  .hljs-attr {
    color: #f8d000;
    font-style: italic;
  }
  
  .hljs-built_in,
  .hljs-selector-tag,
  .hljs-section {
    color: $keyword;
  }
  
  .hljs-keyword {
    color: $keyword;
  }
  
  .hljs,
  .hljs-subst {
    color: #e3dfff;
  }
  
  .hljs-string,
  .hljs-attribute,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition,
  .hljs-code,
  .hljs-regexp,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-template-tag,
  .hljs-quote,
  .hljs-deletion {
    color: #4cd213;
  }
  
  .hljs-meta,
  .hljs-meta-string {
    color: $keyword;
  }
  
  .hljs-comment {
    color: #ac65ff;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-name,
  .hljs-strong {
    font-weight: normal;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #fad000;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }