$darkpurple: #373975;
$lightpurple: #efe9f5;
$primary: $darkpurple;
$link: $darkpurple;
$secondary: #e8e8e8;
$accent: #B5465C;

@import "../../node_modules/bulma/bulma.sass";
@import "syntax";
@import "custom";
@import "docs";
@import "blog";