$darkpurple: #373975;
$lightpurple: #efe9f5;
$primary: $darkpurple;
$link: $darkpurple;
$secondary: #e8e8e8;
$accent: #B5465C;
$button-radius: 8px;
$button-radius-small: 6px;
$font-sans: "IBM Plex Sans", BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font-mono: "IBM Plex Mono", "SFMono-Regular", Consolas, "Liberation Mono", monospace;
$family-sans-serif: $font-sans;
$family-primary: $family-sans-serif;
$family-monospace: $font-mono;
$family-code: $family-monospace;

@import "../../node_modules/bulma/bulma.sass";
@import "landing";
@import "tokens";
@import "accordion";
@import "custom";
@import "docs";
@import "blog";
@import "tabs";
@import "repl";
