<footer class="site-footer">
    <div class="site-footer-inner">
        <div class="site-footer-brand">
            <img class="site-footer-logo" src="/img/logo_v2.png" alt="" />
            <div>
                <div class="site-footer-wordmark">Ferret</div>
                <div class="site-footer-tagline">Declarative data extraction</div>
            </div>
        </div>

        <nav class="site-footer-nav" aria-label="Footer">
            <a href="/docs/">Docs</a>
            <a href="/blog/">Blog</a>
            <a href="https://github.com/MontFerret/ferret">GitHub</a>
            <a href="/try/">Playground</a>
            <a href="/rss.xml">RSS</a>
        </nav>

        <div class="site-footer-meta">
            <div class="site-footer-copy">© 2018-2026 MontFerret Team</div>
            <a class="site-footer-top" href="#top">Back to top △</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js"
        integrity="sha256-qCCcAHv/Z0u7K344shsZKUF2NR+59ooA3XWRj0LPGIQ=" crossorigin="anonymous"></script>
    {{ $fqlMode := resources.Get "js/ace-mode-fql.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $fqlMode.Permalink }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-json.min.js"
        integrity="sha256-oMH6MIx8AGl0OseaL8vGcdSb9ons1Jprkf4xXAyzvNc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-golang.min.js"
        integrity="sha256-0SvSdpO3x7J6KQZ5Y9ghI0wph0l0DDMUaOQu+Swjup0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-tomorrow_night.min.js"
        integrity="sha256-NbswWaBBhaLvBJ18ocfQ7sC/Iy/+7KvGq0YRjvLRpk4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-sh.min.js"
        integrity="sha256-uzCsgXA65+SIa2CRZSX6+Ls6DKZkddI5rtRXr1uOE2Y=" crossorigin="anonymous"></script>
    {{ $tabs := resources.Get "js/tabs.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $tabs.Permalink }}"></script>
</footer>
