<footer class="footer">
    <div class="columns">
        <div class="column is-4 is-hidden-mobile">
            <a href="https://github.com/MontFerret">
                © 2018-2019 MontFerret Team
            </a>
        </div>
        <div class="column is-4 has-text-centered">
            <img src="/img/logo.png" width="30" height="30" />
        </div>
        <div class="column is-4 has-text-right is-hidden-mobile">
            <a href="#">BACK TO TOP Δ</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js" integrity="sha256-js+I1fdbke/DJrW2qXQlrw7VUEqmdeFeOW37UC0bEiU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/languages/bash.min.js" integrity="sha256-zXrlim8wsIvcEFjsD3THiAfTvtPZifqx8q0rxegiWQc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/languages/go.min.js" integrity="sha256-LVuWfOU0rWFMCJNl1xb3K2HSWfxtK4IPbqEerP1P83M=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@montferret/highlight-fql@1.0.1/index.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // highlight
            hljs.registerLanguage('fql', registerFQL);
            hljs.initHighlighting();
        });
    </script>
</footer>
