<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/logo.png" width="30" height="30" /> <small class="logo">ferret</small>
            </a>

            <a
                id="navbar-burger"
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="primary-nav"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="primary-nav" class="navbar-menu">
            <div class="navbar-start">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main.ByWeight }}
                        <a href="{{ .URL }}" class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
                        title={{ .Title }} id={{ .Identifier }}>
                            {{ .Name }}
                        </a>
                {{ end }}
            </div>
        </div>
    </div>
</nav>

<script>
    // .nav-burger
    // click handler for mobile menu
    (function(){
        let navburger = document.getElementById("navbar-burger");
        navburger.addEventListener("click", function() {
            let target = this.getAttribute("data-target");
            let el = document.getElementById(target);

            el.classList.toggle("is-active");
        })
    })();
</script>