<ul class="toc">
    {{ $url := .Currentlink }}
    {{ range .Root.Pages.ByWeight}}
        <li class="toc-page {{ if eq $url .Permalink }}toc-item-active{{ end }}">
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>

            <!-- {{ if eq $url .Permalink }}
                {{ .TableOfContents }}
            {{ end }} -->
        </li>
    {{ end }}
    {{ range .Root.Sections}}
    <li class="toc-section {{ if eq $url .Permalink }}toc-item-active{{ end }}">
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
        {{ if .Pages}}
            {{ partial "toc.html" ( dict "Root" . "Currentlink" $url) }}
        {{ end }}
    </li>
    {{ end }}
</ul>