{{ define "main" }}

<section class="hero is-primary">
    <div class="hero-body homepage-hero has-text-centered">
        <div class="container">
            <div class="logo-wrap">
                <img src="/img/logo.png" width="120" height="120" />
                <h1 class="title logo">
                    Ferret
                </h1>
            </div>
            <h2 class="subtitle is-centered">
                a web scraping system <br />aiming to simplify data extraction
                from the web
            </h2>
            <a href="/guide/get-started/" class="button is-primary is-radiusless">Get started</a>
        </div>
    </div>
</section>

<main class="content container section">
    <div class="columns">
        <div class="column">
            <h3>Declarative</h3>
            <p>
                ferret has a declarative query language that makes it easy to focus on a data that you need to get.
            </p>
        </div>
        <div class="column">
            <h3>Dynamic pages support</h3>
            <p>
                ferret has the ability to scrape JS rendered pages, handle all page events and emulate user interactions.
            </p>
        </div>
        <div class="column">
            <h3>Embeddable</h3>
            <p>
                ferret was designed as a library from the ground up. it can be easily embedded into any Go application.
            </p>
        </div>
    </div>
</main>
{{ end }}
