{{ $id := printf "%s-%d" "code-editor" (index (seq 1000 | shuffle | first 1) 0) }}
{{ $height := default "400px" ( .Get "height" )}}
{{ $width := default "100%" ( .Get "height" ) }}
{{ $isReadOnly := default "false" ( .Get "readonly" ) }}
{{ $params := default "{}" ( .Get "params" ) }}
{{ $orientation := default "vertical" ( .Get "orientation") }}
{{ $sharable := default "false" ( .Get "sharable" ) }}

<div class="code-editor">
    {{- if eq $sharable "true" }}
    <input id="{{ $id }}-share-clipboard" style="top: 0; left: 0; position: fixed;"></input>
    {{- end }}

    {{ if eq $orientation "vertical"}}
    {{- if eq $sharable "true" }}
    <button id="{{ $id }}-share-button" class="share button is-pulled-right is-outlined is-light is-radiusless code-editor-button">Share</button>
    {{- end }}

    <button id="{{ $id }}-run-button" class="run button is-pulled-right is-outlined is-light is-radiusless code-editor-button">Run</button>

    <div class="columns">
        <div class="column is-6">
            <div id="{{ $id }}-text" class="code-editor-text" style="height: {{ $height }};">
                {{ .Inner }}
            </div>
        </div>
        <div class="column is-6">
            <div id="{{ $id }}-result" class="code-editor-result" style="height: {{ $height }};"></div>
        </div>
    </div>
    {{ else }}
    {{- if eq $sharable "true" }}
    <button id="{{ $id }}-share-button" class="share button is-pulled-right is-outlined is-light is-radiusless code-editor-button">Share</button>
    {{- end }}
    <button id="{{ $id }}-run-button" class="run button is-pulled-right is-outlined is-light is-radiusless code-editor-button">Run</button>

    <div class="columns">
        <div class="column is-12">
            <div id="{{ $id }}-text" class="code-editor-text" style="height: {{ $height }};">
                {{ .Inner }}
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-12">
            <div id="{{ $id }}-result" class="code-editor-result" style="height: {{ $height }};"></div>
        </div>
    </div>
    {{ end }}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function createEditor(id, mode) {
                const editor = ace.edit(id);
                editor.setTheme("{{ $.Site.Data.repl.theme }}");
                editor.session.setMode("ace/mode/" + mode);
                editor.setOptions({
                    displayIndentGuides: false,
                    printMargin: false
                });

                return editor;
            }

            const btn = document.querySelector('#{{ $id }}-run-button');
            const textEditor = createEditor('{{ $id }}-text', 'aql');
            const resultEditor = createEditor('{{ $id }}-result', 'json');
            resultEditor.setReadOnly(true);

            {{- if eq $isReadOnly "true" }}
                textEditor.setReadOnly(true);
            {{- end }}

            function setContent(editor, content) {
                editor.setValue(content, -1);
            }

            {{- if eq $sharable "true" }}
                const clibboardEl = document.querySelector('#{{ $id }}-share-clipboard');
                const shareBtn = document.querySelector('#{{ $id }}-share-button');

                shareBtn.addEventListener('click', () => {
                    try {
                        const script = btoa(textEditor.getValue());

                        const url = `${location.protocol}\/\/${location.host}${location.pathname}?script=${script}`;
                        clibboardEl.value = url;
                        clibboardEl.focus();
                        clibboardEl.select();
                        
                        if (!document.execCommand("copy")) {
                            console.info(url);

                            throw new Error('Could not copy url to the clipboard')
                        }
                    } catch(err) {
                        console.error('Failed to share');
                        console.error(err);
                    }
                });

                const q = new URLSearchParams(location.search);
                const encodedScript = q.get("script");

                if (encodedScript) {
                    try {
                        const script = atob(encodedScript);

                        setContent(textEditor, script);
                    } catch(err) {
                        console.error('Failed to decode script');
                        console.error(err);
                    }
                }
            {{- end }}

            let isRunning = false;

            function onStart() {
                isRunning = true;
                textEditor.setReadOnly(true);
                btn.classList.add('is-loading');
            }

            function onEnd(result) {
                isRunning = false;
                textEditor.setReadOnly(false);
                btn.classList.remove('is-loading');

                setContent(resultEditor, result);
            }

            btn.addEventListener('click', () => {
                if (isRunning) {
                    return;
                }

                const body = {
                        text: textEditor.getValue(),
                        params: JSON.parse({{ $params }})
                };

                onStart();
                fetch("{{ $.Site.Data.repl.workerURL }}", {
                    method: 'post',
                    cache: 'no-cache',
                    headers: {
                        'Content-Type': 'application/json,encoding=utf-8'
                    },
                    body: JSON.stringify(body)
                })
                    .then(r => r.json())
                    .then((data) => {
                        onEnd(JSON.stringify(data, null, 4));
                    })
                    .catch((err) => {
                        onEnd(err.toString());
                    });
            });
        }, false);
    </script>
</div>