{{ $id := printf "%s-%d" "code-editor" (index (seq 1000 | shuffle | first 1) 0) }}
{{ $height := default "400px" ( .Get "height" )}}
{{ $width := default "100%" ( .Get "height" ) }}
{{ $isReadOnly := default "false" ( .Get "readonly" ) }}
{{ $params := default "{}" ( .Get "params" ) }}
{{ $orientation := default "vertical" ( .Get "orientation") }}

<div class="code-editor">
    {{ if eq $orientation "vertical"}}
    <div class="columns is-mobile">
        <div class="column is-1 is-offset-11">
            <button id="{{ $id }}-run-button" class="button is-pulled-right is-outlined is-light is-radiusless code-editor-button">Run</button>
        </div>
    </div>

    <div class="columns">
        <div class="column is-6">
            <div id="{{ $id }}-text" class="code-editor-text" style="height: {{ $height }};">
                {{ .Inner }}
            </div>
        </div>
        <div class="column is-6">
            <div id="{{ $id }}-result" class="code-editor-result" style="height: {{ $height }};"></div>
        </div>
    </div>
    {{ else }}
    <div class="columns is-mobile">
        <div class="column is-1 is-offset-11">
            <button id="{{ $id }}-run-button" class="button is-pulled-right is-outlined is-light is-radiusless code-editor-button">Run</button>
        </div>
    </div>

    <div class="columns">
        <div class="column is-12">
            <div id="{{ $id }}-text" class="code-editor-text" style="height: {{ $height }};">
                {{ .Inner }}
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-12">
            <div id="{{ $id }}-result" class="code-editor-result" style="height: {{ $height }};"></div>
        </div>
    </div>
    {{ end }}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function createEditor(id, mode) {
                const editor = ace.edit(id);
                editor.setTheme("{{ $.Site.Data.repl.theme }}");
                editor.session.setMode("ace/mode/" + mode);
                editor.setOptions({
                    displayIndentGuides: false,
                    printMargin: false
                });

                return editor;
            }

            const btn = document.querySelector('#{{ $id }}-run-button');
            const textEditor = createEditor('{{ $id }}-text', 'aql');
            const resultEditor = createEditor('{{ $id }}-result', 'json');
            resultEditor.setReadOnly(true);

            {{- if eq $isReadOnly "true" -}}
                textEditor.setReadOnly(true);
            {{- end -}}

            function setContent(editor, content) {
                editor.setValue(content, -1);
            }

            let isRunning = false;

            function onStart() {
                isRunning = true;
                textEditor.setReadOnly(true);
                btn.classList.add('is-loading');
            }

            function onEnd(result) {
                isRunning = false;
                textEditor.setReadOnly(false);
                btn.classList.remove('is-loading');

                setContent(resultEditor, result);
            }

            btn.addEventListener('click', () => {
                if (isRunning) {
                    return;
                }

                const body = {
                        text: textEditor.getValue(),
                        params: JSON.parse({{ $params }})
                };

                onStart();
                fetch("{{ $.Site.Data.repl.workerURL }}", {
                    method: 'post',
                    cache: 'no-cache',
                    headers: {
                        'Content-Type': 'application/json,encoding=utf-8'
                    },
                    body: JSON.stringify(body)
                })
                    .then(r => r.json())
                    .then((data) => {
                        onEnd(JSON.stringify(data, null, 4));
                    })
                    .catch((err) => {
                        onEnd(err.toString());
                    });
            });
        }, false);
    </script>
</div>