<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">
                    <a href="{{.Permalink}}">
                        {{ .Title }}
                    </a>
                </p>
                <p class="subtitle is-6 has-text-grey">
                    <span>{{ .Date.Format "January 2, 2006" }}</span>
                </p>
                <p class="subtitle is-size-7 has-text-grey">
                    by <a href="{{ .Params.authorLink }}">{{ .Params.author }}</a>
                </p>
            </div>
        </div>
    </div>
</div>