{{ define "main" }}
<div class="container section content">
    <div class="columns">
        <section id="main" class="column is-8">
            <h1 id="title">{{ .Title }}</h1>
            <div>
                <article id="content">
                    {{ .Content }}
                </article>
            </div>
        </section>
        <aside class="column is-3 sticky-nav">
            <h2>{{ .Parent.Title }}</h2>
            {{ range .Parent.Pages }}
                <article>
                    <a href="{{ .URL }}">
                        {{ .Title }}
                    </a>
                </article>
            {{ end }}
        </aside>
    </div>
</div>
{{ end }}